@import "tailwindcss";

* {
	box-sizing: border-box;
}

html,
body,
#app {
	min-height: 100%;
}

body {
	margin: 0;
}


@utility section-box {
	@apply shadow-sm bg-white border border-gray-200 p-4 rounded-xl
}

@utility button {
	@apply cursor-pointer py-2 px-4 rounded-xl transition-all duration-100
}

@utility field {
	@apply w-full bg-white border border-gray-200 rounded-xl py-2 px-4
}
